/*
============================================
CSS reset
http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
============================================
*/

What are those elements used for? which is their meaning?

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*
============================================
Document's style
============================================
*/

html {
  padding: 10%;
}

h1 {
  text-align: center;
}

.faq { /* Elements hightlighted to indicate questions to be solved. */
  background-color: yellow;
}

div { /* Divisions elements are used here to display sample background images. */
  height: 500px;
  width: 100%;
}

code {
  font-size: 1.1em;
}

div.box {
  height: 100px; /* This will allow to modify all the div elements classified as box with specific properties. */
}

.sample-img { /* As a single image could be used to illustrate more than one example, whichever element has this classification will display the selected image here. */
  background-image: url("///Users/ptr/Folder/web-development/line%20one/ex-background-image-02.jpg"); /* RAF airplane image */
}

.ex-background-01 {
  background-color: #b2b2b2;
}

.ex-background-02 {
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, .1);
}

.ex-background-03 {
  background-image: url("///Users/ptr/Folder/web-development/line%20one/ex-background-image-01.jpg");
  background-repeat: no-repeat;
}

.ex-background-04 {}

.ex-background-05 {
  background-repeat: no-repeat;
}

.ex-background-06 {
  background-position: 100px 25%;
}

.ex-background-07 {
  background-position: 100px 25%;
  background-repeat: no-repeat;
}

.ex-background-08 {
  background-position: 100px;
}

.ex-background-09 {
  background-position: left top;
  background-repeat: no-repeat;
}

.ex-background-10 {
  background-position: right top;
}

.ex-background-11 {
  background-position: left bottom;
}

.ex-background-12 {
  background-position: right bottom;
}

.ex-background-13 {
  background: #b2b2b2 url("///Users/ptr/Folder/web-development/line%20one/ex-background-image-02.jpg") 20px 10px no-repeat;
}

.ex-background-14 {
  background: url("///Users/ptr/Folder/web-development/line%20one/ex-background-foreground.jpg") 0 0 no-repeat, url("///Users/ptr/Folder/web-development/line%20one/ex-background-middleground.jpg") 0 0 no-repeat, url("///Users/ptr/Folder/web-development/line%20one/ex-background-rearground.jpg");
  height: 700px;
}

.ex-gradient-01 {
  background: linear-gradient(gold, teal);
  background-color: teal;
}

.ex-gradient-02 {
  background: #466368;
  background: linear-gradient(to right bottom, #648880, #293f50);
}

.ex-gradient-03 {
  background: linear-gradient(to right bottom, black, white);
  background-color: teal;
}

.ex-gradient-04 {
  background: linear-gradient(222deg, #fff, #293f50);
  background-color: teal;
}

.ex-gradient-05 {
  background: radial-gradient(teal, aqua);
  background-color: #293f50;
}

.ex-gradient-06 {
  background: #648880;
  background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
}

.ex-gradient-07 {
  background: #648880;
  background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
}