 /* CSS */

    /* CSS reset
      /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
      License: none (public domain) */

      What are those elements used for? which is their meaning?

      html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      }
      /* HTML5 display-role reset for older browsers */
      article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
      }
      body {
      line-height: 1;
      }
      ol, ul {
      list-style: none;
      }
      blockquote, q {
      quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
      content: '';
      content: none;
      }
      table {
      border-collapse: collapse;
      border-spacing: 0;
      }

    /* Document's structure */

      html {
        background-color: rgba(6, 32, 42, 0.9); /* dark green */
        color: rgba(150, 154, 152, 1); /* silver */
        font: 200 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 10%;
        text-align: justify;
      }

      footer {
        margin-bottom: 10%;
      }

      nav {
        float: left;
        padding-right: 1%;
      }

      hr {
        /* This element is going to be used to clear floats and separate sections. */
        clear: both;
        }

      a {color: rgba(27, 135, 204, 1); /* blue */}
      a:hover {color: #ff7b29; /* orange */}

      /* style for the back to top link */
      .b2t {
        color: rgba(6, 32, 42, 0.4); /* Almost the same as the background color so is barely perceptible. */
        float: right;
        font: 100 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

    /* Headers */

      h1 {
        color: rgba(235, 75, 66, 1); /* Red */
        text-align: center;
        padding-top: 50px;
      }

      h2 {
        padding-left: 5%;
        padding-top: 70px;
        text-align: left;
      }

      h3 {
        padding-left: 5%;
        padding-top: 2%;
      }

      h2, h3 {
        color: rgba(235, 75, 66, .65); /* The same red color as the h1 element but slightly lighter. */
      }

      h4, h5, h6 {
        color: rgba(49, 131, 103, 1); /* green */
        font-style: italic;
        padding-left: 5%;
      }

      h6 {
        text-transform: uppercase;
      }

    /* Indents */

      .body-02 {padding-left: 05%;}
      .body-03 {padding-left: 05%;}
      .exempli {padding-left: 10%;}

    /* Frames */

    /* Floats */

      .float-container:before,
      .float-container:after {
        content: "";
        display: table;
      }
      .float:after {
        clear: both;
      }
      .float-container {
        clear: both;
        display: block;
        zoom: 1;
      }

      .column-1o3 {
        box-sizing: border-box;
        float: left;
        margin: 0 1.5%;
        width: 30%;
      }

      .column-1o3 ul {list-style-type: disc;}
      .column-1o3 li {text-align: left;}

    /* Forms */

      /* The following rule set is used to style the Shay's Howe login example. */
      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }
      .example-login {
        border: 1px solid #c6c7cc;
        border-radius: 5px;
        font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        overflow: hidden;
        width: 240px;
      }
      .example-login fieldset {
        border: 0;
        margin: 0;
        padding: 0;
      }
      .example-login input {
        border-radius: 5px;
        font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
      }
      .account-info {padding: 20px 20px 0 20px;}
      .account-info label {
        color: #395870;
        display: block;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .account-info input {
        background: #fff;
        border: 1px solid #c6c7cc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
        color: #636466;
        padding: 6px;
        margin-top: 6px;
        width: 100%;
      }
      .account-action {
        background: #f0f0f2;
        border-top: 1px solid #c6c7cc;
        padding: 20px;
      }
      .account-action .btn {
        background: linear-gradient(#49708f, #293f50);
        border: 0;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        float: left;
        padding: 8px 16px;
      }
      .account-action label {
        color: #7c7c80;
        font-size: 12px;
        float: left;
        margin: 10px 0 0 20px;
      }

    /* Lists */

      ol {list-style-type: decimal;}
      ul {list-style-type: disc;}
      nav ul {list-style-type: none;}

    /* Media */

    /* Miscellaneous */

      /* styles for the link to the home page */
      .line-one-home {
        color: rgb(235, 75, 66); /* red */
        display: block; /* This value will prevent other elements interfere with the link into the same line the home link is. */
        text-align: center;
      }

      /* This rule set will color red the horizontal bar. */
      hr {color: rgba(235, 75, 66, 1); /* Red */}

      /* FAQ */
        .faq { /* Elements hightlighted to indicate questions to be solved. */
          background-color: yellow;
          color: rgba(6, 32, 42, 0.9); /* dark green */
        }

      /* This rule set will allow the code samples be aligned to the left instead of justified (as the rest of the text), just as they would appear in a text editor. */
      .exempli code {text-align: left;}

    /* Examples */

      /* Example's structure */

        .code-sample {
          font: 200 14px/18px "Terminal", "Courier New", Courier, serif;
          text-align: left;
        }

        .ex-tables-01 table {
          border-collapse: collapse;
        }
        .ex-tables-01 th,
        .ex-tables-01 td {
          border: 1px solid #c6c7cc;
          padding: 10px 15px;
        }
        .ex-tables-01 th {
          font-weight: bold;
        }

        table.ex-tables-02 {
          border-collapse: separate;
          border-spacing: 4px;
        }
        table.ex-tables-02,
        .ex-tables-02 th,
        .ex-tables-02 td {
          border: 1px solid #cecfd5;
        }
        .ex-tables-02 th,
        .ex-tables-02 td {
          padding: 10px 15px;
        }

        /* HTML201 - 02 detailed positioning */

					/* --- Example: floats ---*/

						.box-set,
						.box {
							border-radius: 6px;
						}
						.box-set {
							background: #eaeaed;
						}
						.box {
							background: #2db34a;
							float: left;
							margin: 1.858736059%;
							padding: 20px 0;
							text-align: center;
							width: 29.615861214%;
						}

					/* --- Example ---*/
					
	          .box-set-01 {
            	background: #eaeaed;
            	border-radius: 6px;
            	overflow: auto;
          	}

					/* --- Example ---*/
						.box-set-02 {
							background: #eaeaed;
							border-radius: 6px;
							overflow: auto;
						}
						.box-set-02 .box {
							box-shadow: 0 15px 20px #ff7b29;
						}
						.box-set-02 .box:nth-child(2) {
							position: relative;
							top: 20px;
						}
				
					/* --- Example ---*/

						.box-set-03:before,
						.box-set-03:after {
							content: "";
							display: table;
						}
						.box-set-03:after {
							clear: both;
						}
						.box-set-03 {
							background: #eaeaed;
							border-radius: 6px;
							*zoom: 1;
						}
						.box-set-03 .box {
							box-shadow: 0 15px 20px #ff7b29;
						}
						.box-set-03 .box:nth-child(2) {
							position: relative;
							top: 20px;
						}

					/* --- Example ---*/

						.box-set-04 {
							background: #eaeaed;
						}
						.box-set-04 .box {
							color: #fff;
							float: none;
							height: 80px;
							line-height: 80px;
							margin: 0;
							padding: 0;
							width: 80px;
						}

					/* --- Example ---*/

						.box-set-05 {

						}
						.box-set-05 .box {
							color: #fff;
							float: none;
							position: relative;
						}
						.box-set-05 .box-1 {
							top: 20px;
						}
						.box-set-05 .box-2 {
							left: 40px;
						}
						.box-set-05 .box-3 {
							bottom: -10px;
							right: 20px;
						}

					/* --- Example ---*/

						.box-set-06 {
							background: #eaeaed;
							border-radius: 6px;
							height: 200px;
							position: relative;
						}
					/* The following clear float is necessary to prevent the <div> from collapse due to its child elements have been floated */
						div.box-set-06:before,
						div.box-set-06:after {
							content: "";
							display: table;
						}
						div.box-set-06:after {
							clear: both;
						}
						div.box-set-06 {
							*zoom: 1;
						}
						.box-abs {
							background: #2db34a;
							border-radius: 6px;
							height: 80px;
							position: absolute;
							width: 80px;
						}
						.box-abs.box-1 {
						/* This selector indicates elements classified as "box-abs" and "box-1" */
							top: 6%;
							left: 2%;
						}
						.box-abs.box-2 {
						/* This selector indicates elements classified as "box-abs" and "box-2" */
							top: 0;
							right: -40px;
						}
						.box-abs.box-3 {
						/* This selector indicates elements classified as "box-abs" and "box-3" */
							bottom: -10px;
							right: 20px;
						}
						.box-abs.box-4 {
						/* This selector indicates elements classified as "box-abs" and "box-4" */
							bottom: 0;
						}

					/* --- Example ---*/

							div.box-set-07 {
								background: #eaeaed;
								border-radius: 6px;
								height: 300px;
								margin: 0;
								padding: 0;
								position: relative;
							}
							.box-nodim {
								background: #2de34a;
								border-radius: 6px;
								color: white;
								margin: 0;
								padding: 0;
								position: absolute;
							}
							.box-nodim.box-1 {
								bottom: 0;
								top: 0;
							}
							.box-nodim.box-2 {
								left: 75%;
								right: 40px;
								top: 5%;
							}
							.box-nodim.box-3 {
								top: -15px;
								left: 50%;
							}
							.box-nodim.box-4 {
								bottom: -2%;
								top: 55%;
								left: 30%;
								right: 50%;
							}

					/* --- Example fixed position --- */

						.ex-fix {
							position: fixed;
							left: 5px;
							top: 50%;
							text-align: center;
						}

        /* HTML 201 - 03 - advanced selectors */
				
          /* Descendant selectors */

						section.ex-sel-chdsc01 aside {
							background: yellow;
							color: black;
						}

						section.ex-sel-chdsc02 > aside {
							background: yellow;
							color: black;
						}

					/* Sibling selector: general */

						h2.ex-sel-sblnggen01 ~ p {
							background: yellow;
							color: black;
						}

						h2.ex-sel-sblngadj01 + p {
							background: yellow;
							color: black;
						}

					/* Sibling selectors: adjacent */

							h2.ex-sel-sblngadj01 {
								/* This rule set is introduced to prevent excessive top padding from being displayed above the h2 headers, creating the illusion they might be real dcoument headers. */
								padding-top: 1em;
								font-size: 18px;
							}
							
          /* ---Shay Howe's demo about sibling selectors--- */

						ul li {
							/* This rule set will define the typefaces to be used in the unordered list */
              font: 23px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            }
						.float-container ~ input {
							display: none; /* This property will hide the checkbox, so only the symbol/label next to it will be visible. On the other hand the used selector (h6 ~ input, automatically targets the input element below the h6 header as a general sibling selector, this has the advantage that the input element can be moved around within the parent section element without break the cascade. */ 
						}
						h6 ~ label,
						nav ul, {
							/* The first row of this rule set uses an <h6> as a reference sibling element of the <label> in order to select it with a general sibling selector. On the other hand, should we want to target the <ul> element, this <h6> element could no longer be used, because the <ul> is nested into a <nav> element, in this case a direct child selector must be used to target the <ul> */
							border: 1px solid #cecfd5;
							border-radius: 6px;
						}
						h6 ~ label {
							/* Same as before, the h* ~ label element is used as a sibling selector of the <label> element. */
							color: #0087cc;
							cursor: pointer;
							display: inline-block; /* Test exactly what this property do in the label. */
							font-size: 18px;
							padding: 5px 9px;
							transition: all 5s ease; /* The values of this transition property works in the following way: the all value will indicate that all the properties stated in the rule set that defines or contain what happen once the transition is triggerted will be activated, that is to say, if there are 20 effects to be used once the transition start, all of them will be used. The 5s value, indicates how long will the transition last, in this case 5 seconds. Lastly, the ease value indicates how this transition is going to occur, in  this case ease, indicates that the transition will start slowly, in the middle of it accelerate, and end with a slow movement again. */ 
						}
						h6 ~ label:hover {
							color: #ff7b29;
						}
						input:checked + label {
							/* Here, an adjacent sibling selector is being triggerd once the input has been selected, kkep in mind that one of the first rules were to hide this input, so basically this selector is triggered once the user clicks on the label. An adjacent selector might be preferred here to a general sibling selector should naother label be used, the styles are still applied to this specific element. */
							box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
							color: #9799a7;
						}
						h6 ~ nav {
							/* Another general sibling selector */
							max-height: 0; /* What exactly this rule does. Apparently, it is used to hide the <nav> in its default state, later, the transition property will make this visible and available. */
							overflow: hidden; /* The overflow: hidden; value hides any content of the <nav> element should it be too small for it, let's say, the content wrapped by this <na> element uses 500px height, but the <nav> is set to a 300px height, then the 200px addtional wll be hidden and won't be displayed outside this <nav> element. */
							transition: all 5s ease;
						}
						 input:checked ~ nav {
							/* Here, is stated which effects are going to be applied to the <nav> once the <input> changes from its default value to when is checked. Notice: although the general sibling selector involves an <input> in its checked state, it targets and hence, modifies onluy the <nav> element.
							Also, thanks to the transition property (the one including the overflow: hidden;) stated in the above rule set, it will possible to specify what is going to happen/how this <nav> will be transformed, once it passes from its default state, to another state, in this case indicated by the input:checked state. */
							max-height: 500px;
						}
						nav ul {
							/* Here, a direct child selector is being used */
							list-style: none; /* This list-style: none; basically is saying that none of the elements on the list will have a bullet mark of any kind.*/
							margin: 8px 0 0 0;
							padding: 0;
							width: 100px;
						}
						.float-container li {
							/* As in this document (an others in the whole website) has countless <li> to avoid other <li> elements outside this example from being selected, the parent <section class="float-container"> is used, as is the only section with this classification. Notice that this direct children selector will work regardless that the <li> item is nested into a <nav> and at the same time into a <ul> (or even possibly another elements). */
							border-bottom: 1px solid #cecfd5;
						}
						.float-container li:last-child {
							border-bottom: 0;
						}
						.float-container a {
							color: #0087cc;
							display: block;
							padding: 6px 12px;
							text-decoration: none; /* Setting the text-decoration to none will prevent the links from being underlined or being applied with any color. */
						}
						.float-container a:hover {
							color: #ff7b29;
						}

            .float-container {
              /* Rule set created to prevent the content of the rest of the document move or being moved by the drop-down list. */
              height: 200px;
            } 

            .selection {
              /* This rule set is used to highlight the results of the CSS attribute selectors in the examples. */
              background-color: navy;
            }
