html {
	padding: 10%;
}

code {
	font-size: 1.1em;
}

.faq {
  background-color: yellow;
}

hr {clear: both;} /* This element is going to be used to clear floats and separate sections. */

.navigation ul {
  /* This rule set will specify the style of ALL elements in the unordered list. */
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 50;
  text-transform: uppercase;
}

.navigation li {
  /* This rule allow each item into the unordered list to keep its block behaviour whilst the inline will let them be one in front of each other. */
  display: inline-block;
}

.navigation a {
  /* This styles will only affect the anchor (links) elements that are classified as "navigation". */
  background: #395870; /* Background color just in case the gradient cannot be displayed. */
  background: linear-gradient(#49708f, #293f50);
  border-right: 1px solid rgba(0, 0, 0, .3);
  color: #fff; /* White. */
  padding: 12px 20px;
  text-decoration: none;
}

.navigation a:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

.navigation li:first-child a {
  /* The pseudo-element will affect only the first item of the parent element. */
  border-radius: 4px 0 0 4px;
}

.navigation li:last-child a {
  /* The pseudo-element will affect only the last item of the parent element. */
  border-right: 0;
  border-radius: 0 4px 4px 0;
}

.column-01 {
  display: block;
  float: left;
  padding-bottom: 15px;
  width: 50%;
}

.column-02 {
  display: block;
  float: right;
  padding-bottom: 15px;
  width: 50%;
}

#lists-nav {
  /* This float clear is added to prevent interference between the title that has this id, with the floated example that is above it. */
  clear: both;
}

.ex-lists-01 {
  clear: both; /* Is necessary add this clear: both; in order to contain the float of introduced in the above element to this example. */
  list-style-type: square;
  margin-left: 40px;
  padding-top: 22px;
}

.ex-lists-02 li {
  background-image: url("///Users/ptr/Folder/web-development/line%20one/ex-lists-02-airplane-icon.png") no-repeat;
  background-position: 0 0;
  background-size: contain;
  clear: both;
  list-style-type: none;
  padding-left: 20px;
}

.ex-lists-03 li {
  clear: both;
  list-style-position: inside;
}

.ex-lists-04 li {
  list-style-position: outside;
}

.ex-lists-05 li {
  clear: both;
  display: inline-block;
  margin: 0 10px;
}

.ex-lists-06 li {
  float: left;
  margin: 20px;
}

/* The float clear introduced here will prevent the Shay Howe's example of the horizontal list, interfere with the floated code displayed above it. */
.ex-lists-07 {clear: both;}

/* All the rule sets that start with .ex-list-07 are used to replicate the Shay Howe's example about horizontal navigational lists. */
.ex-lists-07 ul {
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.ex-lists-07 li {
  display: inline-block;
}
.ex-lists-07 a {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  border-right: 1px solid rgba(0, 0, 0, .3);
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
}
.ex-lists-07 a:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.ex-lists-07 li:first-child a {
  border-radius: 4px 0 0 4px;
}
.ex-lists-07 li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}

/*
List style type values
- The following classes are used to format and exemplify the different marker types.
*/

.ex-lists-style-none {
  list-style-type: none;
}
.ex-lists-style-disc {
  list-style-type: disc;
}
.ex-lists-style-circle {
  list-style-type: circle;
}
.ex-lists-style-square {
  list-style-type: square;
}
.ex-lists-style-decimal {
  list-style-type: decimal;
}
.ex-lists-style-decimal-leading {
  list-style-type: decimal-leading-zero;
}
.ex-lists-style-lower-roman {
  list-style-type: lower-roman;
}
.ex-lists-style-upper-roman {
  list-style-type: upper-roman;
}
.ex-lists-style-lower-greek {
  list-style-type: lower-greek;
}
.ex-lists-style-lower-alpha {
  list-style-type: lower-alpha;
}
.ex-lists-style-upper-alpha {
  list-style-type: upper-alpha;
}
.ex-lists-style-armenian {
  list-style-type: armenian;
}
.ex-lists-style-georgian {
  list-style-type: georgian;
}