/* CSS reset
  /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain) */

  What are those elements used for? which is their meaning?

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  }
  body {
  line-height: 1;
  }
  ol, ul {
  list-style: none;
  }
  blockquote, q {
  quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  content: '';
  content: none;
  }
  table {
  border-collapse: collapse;
  border-spacing: 0;
  }

/* Document structure's style */

  html {
  	background-color: rgba(6, 32, 42, 0.9); /* dark green */
    color: rgba(150, 154, 152, 1); /* silver */
    font: 200 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 10%;
    text-align: justify;
  }

  /* Headers */

    h1 {
      color: rgba(235, 75, 66, 1); /* Red */
      text-align: center;
      padding-top: 50px;
    }

    h2 {
      padding-left: 5%;
      padding-top: 70px;
      text-align: left;
    }

    h3 {
      padding-left: 5%;
      padding-top: 2%;
    }

    h2, h3 {
      color: rgba(235, 75, 66, .65); /* The same red color as the h1 element but slightly lighter. */
    }

    h4, h5, h6 {
      color: rgba(49, 131, 103, 1); /* green */
      font-style: italic;
      padding-left: 5%;
    }

    h6 {
      text-transform: uppercase;
    }

  /* Indents */

    .body-02 {padding-left: 5%;}
    .body-03 {padding-left: 10%;}

  /* Frames */

  /* Floats */

    .float-container:before,
    .float-container:after {
      content: "";
      display: table;
    }
    .float:after {
      clear: both;
    }
    .float-container {
      clear: both;
      display: block;
      *zoom: 1;
    }

    .column-1o3 {
      box-sizing: border-box;
      float: left;
      margin: 0 1.5%;
      width: 30%;
    }

    .column-1o3 ul {list-style-type: disc;}

    .column-1o3 li {text-align: left;}

  /* Miscellaneous */

  /* Examples */

  nav {
    float: left;
    padding-right: 1%;
  }

  hr {
    /* This element is going to be used to clear floats and separate sections. */
    clear: both;
    }

  ol {
    list-style-type: decimal;
  }


  /* styles for the link to the home page */
  .line-one-home {
    color: rgb(235, 75, 66); /* red */
    display: block; /* This value will prevent other elements interfere with the link into the same line the home link is. */
    text-align: center;
  }

  a {
    color: rgba(27, 135, 204, 1); /* blue */
  }
  a:hover {
    color: #ff7b29; /* orange */
  }

  /* style for the back to top link */
  .b2t {
    color: rgba(6, 32, 42, 0.4); /* Almost the same as the background color so is barely perceptible. */
    float: right;
    font: 100 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  /* FAQ */
  .faq { /* Elements hightlighted to indicate questions to be solved. */
    background-color: yellow;
    color: rgba(6, 32, 42, 0.9); /* dark green */
  }

.navigation ul {
  /* This rule set will specify the style of ALL elements in the unordered list. */
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 50;
  text-transform: uppercase;
}

.navigation li {
  /* This rule allow each item into the unordered list to keep its block behaviour whilst the inline will let them be one in front of each other. */
  display: inline-block;
}

.navigation a {
  /* This styles will only affect the anchor (links) elements that are classified as "navigation". */
  background: #395870; /* Background color just in case the gradient cannot be displayed. */
  background: linear-gradient(#49708f, #293f50);
  border-right: 1px solid rgba(0, 0, 0, .3);
  color: #fff; /* White. */
  padding: 12px 20px;
  text-decoration: none;
}

.navigation a:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

.navigation li:first-child a {
  /* The pseudo-element will affect only the first item of the parent element. */
  border-radius: 4px 0 0 4px;
}

.navigation li:last-child a {
  /* The pseudo-element will affect only the last item of the parent element. */
  border-right: 0;
  border-radius: 0 4px 4px 0;
}

.column-01 {
  background:
    linear-gradient(
      rgba(6, 32, 42, 0.00) 000%,
      rgba(6, 32, 42, 0.12) 015%,
      rgba(6, 32, 42, 0.20) 050%,
      rgba(6, 32, 42, 0.12) 085%,
      rgba(6, 32, 42, 0.00) 100%);
  display: block;
  float: left;
  padding-bottom: 15px;
  width: 50%;
}

.column-02 {
  display: block;
  float: right;
  padding-bottom: 15px;
  width: 50%;
}

#lists-nav {
  /* This float clear is added to prevent interference between the title that has this id, with the floated example that is above it. */
  clear: both;
}

/* Document's examples */

  .ex-lists-00 {
    list-style: decimal;
    padding-left: 40px;
  }

  .ex-lists-000 {
    list-style: decimal;
    padding-left: 40px;
  }

  /* This rule set is used for the Shay Howe's nesting list demo. */
  .ex-lists-0000 ol {
    list-style: decimal;
    padding-left: 40px;
  }
  .ex-lists-0000 ul {
    list-style: disc;
    padding-left: 40px;
  }

  ul.ex-lists-01 {
    list-style-type: square;
    margin-left: 40px;
  }

  .ex-lists-02 li {
    background-image: url("///Users/ptr/Folder/web-development/line%20one/ex-lists-02-pc-icon.gif");
    background-position: 0 50%;
    background-repeat: no-repeat;
    list-style-type: none;
    padding: 5px 0 5px 20px;
  }

  .ex-lists-03 li {
    clear: both;
    list-style-position: inside;
  }

  .ex-lists-04 li {
    list-style-position: outside;
  }

  .ex-lists-05 li {
    clear: both;
    display: inline-block;
    margin: 0 10px;
  }

  .ex-lists-06 li {
    float: left;
    margin: 20px;
  }

  /* The float clear introduced here will prevent the Shay Howe's example of the horizontal list, interfere with the floated code displayed above it. */
  .ex-lists-07 {clear: both;}

  /* All the rule sets that start with .ex-list-07 are used to replicate the Shay Howe's example about horizontal navigational lists. */
  .ex-lists-07 ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .ex-lists-07 li {
    display: inline-block;
  }
  .ex-lists-07 a {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
  }
  .ex-lists-07 a:hover {
    background: #314b60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
  }
  .ex-lists-07 li:first-child a {
    border-radius: 4px 0 0 4px;
  }
  .ex-lists-07 li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
  }

  /*
  List style type values
  - The following classes are used to format and exemplify the different marker types.
  */

  .ex-lists-style-none {
    list-style-type: none;
  }
  .ex-lists-style-disc {
    list-style-type: disc;
  }
  .ex-lists-style-circle {
    list-style-type: circle;
  }
  .ex-lists-style-square {
    list-style-type: square;
  }
  .ex-lists-style-decimal {
    list-style-type: decimal;
  }
  .ex-lists-style-decimal-leading {
    list-style-type: decimal-leading-zero;
  }
  .ex-lists-style-lower-roman {
    list-style-type: lower-roman;
  }
  .ex-lists-style-upper-roman {
    list-style-type: upper-roman;
  }
  .ex-lists-style-lower-greek {
    list-style-type: lower-greek;
  }
  .ex-lists-style-lower-alpha {
    list-style-type: lower-alpha;
  }
  .ex-lists-style-upper-alpha {
    list-style-type: upper-alpha;
  }
  .ex-lists-style-armenian {
    list-style-type: armenian;
  }
  .ex-lists-style-georgian {
    list-style-type: georgian;
  }