/*
============================================
CSS reset
http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
============================================
*/

What are those elements used for? which is their meaning?

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*
============================================
Document's style
============================================
*/

body {
  background-color: rgba(6, 32, 42, 0.9); /* dark green */
  color: rgba(150, 154, 152, 1); /* silver */
  font: 200 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 10%;
  text-align: justify;
}

/* styles for the link to the home page */
    .line-one-nav {
      color: rgb(235, 75, 66); /* red */
      display: block;
      text-align: center;
    }
    /* header a.line-one-nav {
      color: rgb(235, 75, 66); red
      text-align: center;
    }*/

a {
  color: rgba(27, 135, 204, 1); /* blue */
}
a:hover {
  color: #ff7b29; /* orange */
}

/* style for the back to top link */
.b2t {
  color: rgba(6, 32, 42, 0.4);
  float: right;
  font: 100 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Headers */

h1 {
  color: rgba(235, 75, 66, 1);
  text-align: center;
  padding-top: 50px;
}

h2 {
  padding-left: 5%;
  padding-top: 70px;
  text-align: left;
}

h3 {
  padding-left: 5%;
  padding-top: 2%;
}

h2, h3 {
  color: rgba(235, 75, 66, .65);
}

h4, h5, h6 {
  color: rgba(49, 131, 103, 1); /* green */
  font-style: italic;
  padding-left: 5%;
}

/* websafe font samples */
.font {
  padding: 0%;
  margin: 0%;
}

.Arial {font-family: Arial;}
.Courier {font-family: Courier;}
.Courier-New {font-family: Courier-New;}
.Garamond {font-family: Garamond;}
.Georgia {font-family: Georgia;}
.Lucida {font-family: Lucida;}
.Lucida-Grande {font-family: Lucida-Grande;}
.Lucida-Sans {font-family: Lucida-Sans;}
.Palatino-Linotype {font-family: Palatino-Linotype;}
.Tahoma {font-family: Tahoma;}
.Trebuchet {font-family: Trebuchet;}
.Times-New-Roman {font-family: "Times-New-Roman";}
.Times {font-family: Times;}
.Verdana {font-family: Verdana;}

/* miscellaneous */

hr {
  margin-top: 70px;
}

.code-example {
  text-align: left;
}

footer {
  padding-bottom: 10%;
}

nav {
  float: left;
}

/*
============================================
Document's frames
============================================
*/

.frame {
  border-color: silver;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  left: 0px;
  padding: 0% 2%;
  position: absolute;
  width: 15%;
}

.ten-percent {
  width: 10%;
}

/*
============================================
Document's indents
============================================
*/

.code-example {
  background-color: rgba(6, 32, 42, 0.06);
  padding-left: 5%;
}

.block {
  background-color: rgba(6, 32, 42, 0.06);
  display: block;
  padding-left: 10%;
  text-align: left;
}

.level01 {
  padding-left: 5%;
}

.level02 {
  padding-left: 10%;
}

.ex {
  padding-left: 5%;
}

.code-example {
  padding: 0 10%;
}

