/*
============================================
CSS reset
http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
============================================
*/

What are those elements used for? which is their meaning?

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*
============================================
Document's style
============================================
*/

body {
  background-color: rgba(6, 32, 42, 0.9); /* dark green */
  color: rgba(150, 154, 152, 1); /* silver */
  font: 200 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 10%;
  text-align: justify;
}

/* styles for the link to the home page */
    .line-one-nav {
      color: rgb(235, 75, 66); /* red */
      display: block;
      text-align: center;
    }
    /* header a.line-one-nav {
      color: rgb(235, 75, 66); red
      text-align: center;
    }*/

a {
  color: rgba(27, 135, 204, 1); /* blue */
}
a:hover {
  color: #ff7b29; /* orange */
}

/* style for the back to top link */
.b2t {
  color: rgba(6, 32, 42, 0.4);
  float: right;
  font: 100 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* FAQ */
.faq {
  background-color: yellow;
  color: rgba(6, 32, 42, 0.9); /* dark green */
}

/* Headers */

h1 {
  color: rgba(235, 75, 66, 1); /* red */
  text-align: center;
  padding-top: 50px;
}

h2 {
  padding-left: 5%;
  padding-top: 70px;
  text-align: left;
}

h3 {
  padding-left: 5%;
  padding-top: 2%;
}

h2, h3 {
  color: rgba(235, 75, 66, .65); /* red */
}

h4, h5, h6 {
  color: rgba(49, 131, 103, 1); /* green */
  font-style: italic;
  padding-left: 5%;
}

/* websafe font samples */
.font {
  padding: 0%;
  margin: 0%;
}

.Arial {font-family: Arial;}
.Courier {font-family: Courier;}
.Courier-New {font-family: Courier-New;}
.Garamond {font-family: Garamond;}
.Georgia {font-family: Georgia;}
.Lucida {font-family: Lucida;}
.Lucida-Grande {font-family: Lucida-Grande;}
.Lucida-Sans {font-family: Lucida-Sans;}
.Palatino-Linotype {font-family: Palatino-Linotype;}
.Tahoma {font-family: Tahoma;}
.Trebuchet {font-family: Trebuchet;}
.Times-New-Roman {font-family: "Times-New-Roman";}
.Times {font-family: Times;}
.Verdana {font-family: Verdana;}

/* miscellaneous */

hr {
  margin-top: 70px;
}

.code-example {
  text-align: left;
}

footer {
  padding-bottom: 10%;
}

nav {
  float: left;
}

/*
============================================
Document's frames
============================================
*/

.frame {
  border-color: silver;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  left: 0px; /* this "left" property locates the box in the left of its parent element (because we are using an absolute positioning, in this case the left of the <html> element) */
  padding: 0% 2%;
  position: absolute; /* property used to take the box out of the document's flow and send it to the left of its parent element */
  width: 15%; /* 15% of its parent element, so it doesn't overlap the content next to it */
}

.ten-percent {
  width: 10%;
}

/*
============================================
Document's examples
============================================
*/

/* the styles here are going to be layered with each of the specific examples*/
.example {
  color: rgba(255, 255, 255, 0.8); /* the font is white to help highlight the examples from the rest of the content */
  border-color: rgba(49, 131, 103, 1); /* green */
  border-radius: 5px;
  border-style: dotted;
  border-width: 2px;
  font-weight: 100;
  padding: 0% 12%;
}

.ex-color-01 {color: #555; /* gray */}

.ex-font-family-01 {font-family: Garamond, Georgia, Lucida, serif;}

/* font-size examples */
.ex-font-size-01 {font-size: 14px;}
.ex-font-size-02 {font-size: 150%;}
.ex-font-size-03 {font-size: 0.8em;}
.ex-font-size-04 {font-size: 20pt;}

/* font-style examples */
.ex-font-style-01 {font-style: italic;}
.ex-font-style-02 {font-style: normal;}
.ex-font-style-03 {font-style: oblique;}
.ex-font-style-04 { /* this selector is used to illustrate how the oblique and initial properties work related to their parent element. */
  font-style: oblique;
  padding-left: 5%;
}
div.ex-font-style-04 p {font-style: inherit;}
div.ex-font-style-04 .ex-font-style-05 {font-style: initial;}

.ex-font-variant-01 {font-variant: small-caps;}

.ex-font-weight-typeface {font-family: "Avenir Next";} /* This property is used to experiment with different typefaces looking for one defined for all font-weights. */
.ex-font-weight-01 {font-weight: 100;}
.ex-font-weight-02 {font-weight: 200;}
.ex-font-weight-03 {font-weight: 300;}
.ex-font-weight-04 {font-weight: 400;}
.ex-font-weight-05 {font-weight: 500;}
.ex-font-weight-06 {font-weight: 600;}
.ex-font-weight-07 {font-weight: 700;}
.ex-font-weight-08 {font-weight: 800;}
.ex-font-weight-09 {font-weight: 900;}
/*
============================================
Document's indents
============================================
*/

.block {
  background-color: rgba(6, 32, 42, 0.06);
  display: block;
  padding-left: 10%;
  text-align: left;
}

.level01 {
  padding-left: 5%;
}

.level02 {
  padding-left: 10%;
}

.ex {
  padding-left: 5%;
}

.code-example {
  padding: 0 10%;
}

